.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.center{
display: flex;
justify-content: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
  object-fit: scale-down;
}
