/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: rgba(8, 8, 8, 0.415);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.bigText{
  font-size: 40px;
  color:whitesmoke;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.smallText {
  font-size: 20px;
  color:whitesmoke;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow:
  1.5px 1.5px 0 #000,
  -0.7px -0.7px 0 #000,  
  0.7px -0.7px 0 #000,
  -0.7px 0.7px 0 #000,
  0.7px 0.7px 0 #000;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
